<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BackEnd Demo site</title>
  </head>
  <body>
    <section class="container">
      <h1>BackEnd Index GET</h1>
      <div
        id="app"
        class="flex flex-col p-5 gap-4 mx-auto"
      >
       port: <%= data %>
    </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
  </body>
</html>
